<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<appSettings file="AppSettings.Private.config">
		<!-- find all in your own custom AppSettings.Private.config file (not in source control) -->

		<add key="intrinio:username" value="REPLACE_ME_IN_PRIVATE_FILE" />
		
	</appSettings>
	
</configuration>